---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <section>
      <h2>Blog</h2>
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <h3>{post.data.title}</h3>
            </a>
            <time datetime={post.data.pubDate.toISOString()}>
              {post.data.pubDate.toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })}
            </time>
            <p>{post.data.description.slice(0, 500)}</p>
          </li>
        ))}
      </ul>
    </section>
  </body>
</html>
